<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AspirePlayground</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="create-customer">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Create Customer
            </NavLink>
        </div>
@*         
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customer/4c6b78c6-9960-484c-93ec-d785d2352cb9/details">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Customer Details
            </NavLink>
        </div> *@

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customers">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Customer Overview
            </NavLink>
        </div>
    </nav>
</div>